#index_body{
    position: absolute;
    top: 200px;
    left: 100px;
}
#title_table{
    width: 90%;
}
#title_logo{
    position: absolute;
    top: 15px;
    left: 5%;
}
#title_button1{
    position: absolute;
    top: 15px;
    right: 10%;
}
#title_button2{
    position: absolute;
    top: 15px;
    right: 20%;
}
#body_table{
    margin:15px;
}